NEXT_PUBLIC_PERSONA_API_URL=https://persona-dev.onrender.com
# NEXT_PUBLIC_SITE_URL=https://persona-web-tau.vercel.app
ANALYTICS_API_URL=https://persona-analytics.osirisbalonga.workers.dev
ANALYTICS_READ_TOKEN=
ANALYTICS_ENVIRONMENT=staging
